test-workflow-template.json
{
  "name": "Test Tool - Web App (Simple)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Tool",
        "formDescription": "A simple test tool to verify the web app integration works",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Name",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "Enter your name"
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Enter a message to process"
            },
            {
              "fieldLabel": "Priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "respondWith": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "id": "form-trigger-1",
      "name": "Form Trigger",
      "webhookId": ""
    },
    {
      "parameters": {
        "jsCode": "// Process the form data\nconst name = $input.first().json.name || 'Unknown';\nconst message = $input.first().json.message || '';\nconst priority = $input.first().json.priority || 'Medium';\n\n// Create a processed response\nreturn [{\n  json: {\n    success: true,\n    greeting: `Hello ${name}!`,\n    your_message: message,\n    priority_level: priority,\n    message_length: message.length,\n    processed_at: new Date().toISOString(),\n    tip: priority === 'High' ? '⚡ This is marked as high priority!' : '✅ Message received'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "code-node-1",
      "name": "Process Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300],
      "id": "respond-webhook-1",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-28T00:00:00.000Z",
  "versionId": ""
}
