workflow_super_simple_same_path.json
{
  "name": "SIMPLE TEST - Same Webhook Path",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccbf1e03-2ef5-410a-8e81-03f8b1355393",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "id": "webhook-simple",
      "name": "Webhook",
      "webhookId": "ccbf1e03-2ef5-410a-8e81-03f8b1355393"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn {\n  json: {\n    success: true,\n    message: \"Simple test successful!\",\n    product_name: body.product_name,\n    product_image_url: \"https://via.placeholder.com/500\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "id": "code-simple",
      "name": "Simple Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        650,
        300
      ],
      "id": "respond-simple",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Simple Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}